.fm-form-container.fm-theme1 {}.fm-form-container.fm-theme1 .fm-form {padding:20px 0 0 0 !important;border-radius:10px;}.fm-form-container.fm-theme1 .fm-form .fm-header-bg {display:block;}.fm-form-container.fm-theme1 .fm-form .fm-header {text-align:center;}.fm-form-container.fm-theme1 .fm-form .image_left_right.fm-header {padding: 0 !important;}.fm-form-container.fm-theme1 .fm-form .image_left_right > div {}.fm-form-container.fm-theme1 .fm-form.header_left_right .wdform-page-and-images {width:100%;}.fm-form-container.fm-theme1 .fm-form.header_left_right .fm-header {}.fm-topbar .fm-form-container.fm-theme1 .fm-form .fm-header {width:40% !important;}.fm-form-container.fm-theme1 .fm-form .fm-header-title {font-size:24px;}.fm-form-container.fm-theme1 .fm-form .fm-header-description {font-size:16px;}.fm-form-container.fm-theme1 .fm-scrollbox {width:30%;}.fm-form-container.fm-theme1 .fm-minimize-text div {}.fm-form-container.fm-theme1 .fm-minimize-text div:hover {}.fm-form-container.fm-theme1 .fm-form .wdform-page-and-images {
        border-style: unset !important;width:100%;font-size:18px;}.fm-topbar .fm-form-container.fm-theme1 .fm-form .wdform-page-and-images {width:60% !important;}.fm-form-container.fm-theme1 .fm-form .mini_label {font-weight:normal;}.fm-form-container.fm-theme1 .fm-form .wdform-page-and-images label {font-size:18px;}.fm-form-container.fm-theme1 .fm-form .wdform_section {background: transparent;}.fm-form-container.fm-theme1.fm-form .wdform_column {}.fm-form-container.fm-theme1 .fm-form .ui-slider {}.fm-form-container.fm-theme1 .fm-scrollbox .fm-scrollbox-form {}.fm-form-container.fm-theme1 .fm-popover .fm-popover-content {}.fm-form-container.fm-theme1 .fm-pages.wdform_page_navigation {}.fm-form-container.fm-theme1 .fm-form .wdform_footer {margin:15px 0 0 0;font-size:18px;}.fm-form-container.fm-theme1 .fm-pages .page_active {padding:8px;background-color:#7f7f7f;}.fm-form-container.fm-theme1 .fm-pages .page_deactive {background-color:#999999;margin:0 0 10px 0;padding:4px 6px;}.fm-form-container.fm-theme1 .fm-pages .page_percentage_active {padding:8px;background-color:#7f7f7f;}.fm-form-container.fm-theme1 .fm-pages .page_percentage_deactive {width:100%;margin:0 0 10px 0;padding:4px 6px;background-color:#999999;}.fm-form-container.fm-theme1 .fm-action-buttons * {}.fm-form-container.fm-theme1 .closing-form,
						 .fm-form-container.fm-theme1 .minimize-form {position:absolute;background-color:rgba(255, 255, 255, 0);border-radius:25px;}.fm-form-container.fm-theme1 .closing-form {}.fm-form-container.fm-theme1 .minimize-form {right: 3px;}.fm-form-container.fm-theme1 .closing-form,
									 .fm-form-container.fm-theme1 .minimize-form {border-top:1px !important;border-top-style:solid !important;}.fm-form-container.fm-theme1 .closing-form,
									 .fm-form-container.fm-theme1 .minimize-form {border-left:1px !important;border-left-style:solid !important;}.fm-form-container.fm-theme1 .closing-form,
									 .fm-form-container.fm-theme1 .minimize-form {border-right:1px !important;border-right-style:solid !important;}.fm-form-container.fm-theme1 .closing-form,
									 .fm-form-container.fm-theme1 .minimize-form {border-bottom:1px !important;border-bottom-style:solid !important;}.fm-form-container.fm-theme1 .closing-form:hover,
						 .fm-form-container.fm-theme1 .minimize-form:hover {border:none;}.fm-form-container.fm-theme1 .fm-form .wdform-required {}.fm-form-container.fm-theme1 .fm-form input(not:active) {}.fm-form-container.fm-theme1 .fm-form .file-picker {}.fm-form-container.fm-theme1 .fm-form .file-upload-status {display: none;}.fm-form-container.fm-theme1 .fm-form .file-upload input {border: none;}.fm-form-container.fm-theme1 .fm-form {font-family:Source Sans Pro;}.fm-form-container.fm-theme1 .fm-form input[type="text"],
						 .fm-form-container.fm-theme1 .fm-form .ui-corner-all,
						 .fm-form-container.fm-theme1 .fm-form input[type="number"],
						 .fm-form-container.fm-theme1 .fm-form input[type=password],
						 .fm-form-container.fm-theme1 .fm-form input[type=url],
						 .fm-form-container.fm-theme1 .fm-form input[type=email],
						 .fm-form-container.fm-theme1 .fm-form textarea,
						 .fm-form-container.fm-theme1 .fm-form .StripeElement,
						 .fm-form-container.fm-theme1 .fm-form .ui-spinner-input,
						 .fm-form-container.fm-theme1 .fm-form select,
						 .fm-form-container.fm-theme1 .fm-form .captcha_img,
						 .fm-form-container.fm-theme1 .fm-form .arithmetic_captcha_img {}.fm-form-container.fm-theme1 .fm-form input[type="text"],
              .fm-form-container.fm-theme1 .fm-form .ui-corner-all:not(.ui-spinner):not(.ui-slider-horizontal),
              .fm-form-container.fm-theme1 .fm-form input[type="number"],
						 .fm-form-container.fm-theme1 .fm-form input[type=password],
						 .fm-form-container.fm-theme1 .fm-form input[type=url],
						 .fm-form-container.fm-theme1 .fm-form input[type=email],
						 .fm-form-container.fm-theme1 .fm-form textarea,
						 .fm-form-container.fm-theme1 .fm-form .StripeElement,
						 .fm-form-container.fm-theme1 .fm-form .ui-spinner-input,
						 .fm-form-container.fm-theme1 .fm-form .file-upload-status,
						 .fm-form-container.fm-theme1 .fm-form select {}.fm-form-container.fm-theme1 .fm-form input[type="text"],
              .fm-form-container.fm-theme1 .fm-form .ui-corner-all,
              .fm-form-container.fm-theme1 .fm-form input[type="number"],
						 .fm-form-container.fm-theme1 .fm-form input[type=password],
						 .fm-form-container.fm-theme1 .fm-form input[type=url],
						 .fm-form-container.fm-theme1 .fm-form input[type=email],
						 .fm-form-container.fm-theme1 .fm-form textarea,
						 .fm-form-container.fm-theme1 .fm-form .StripeElement,
						 .fm-form-container.fm-theme1 .fm-form .ui-spinner-input,
						 .fm-form-container.fm-theme1 .fm-form .file-upload-status,
						 .fm-form-container.fm-theme1 .fm-form .country-name,
						 .fm-form-container.fm-theme1 .fm-form select {font-size:16px;}.fm-form-container.fm-theme1 .fm-form input[type="text"]::placeholder,
              .fm-form-container.fm-theme1 .fm-form .ui-corner-all::placeholder,
              .fm-form-container.fm-theme1 .fm-form input[type="number"]::placeholder,
						 .fm-form-container.fm-theme1 .fm-form input[type=password]::placeholder,
						 .fm-form-container.fm-theme1 .fm-form input[type=url]::placeholder,
						 .fm-form-container.fm-theme1 .fm-form input[type=email]::placeholder,
						 .fm-form-container.fm-theme1 .fm-form textarea::placeholder,
						 .fm-form-container.fm-theme1 .fm-form .StripeElement::placeholder,
						 .fm-form-container.fm-theme1 .fm-form .ui-spinner-input::placeholder,
						 .fm-form-container.fm-theme1 .fm-form .file-upload-status::placeholder,
						 .fm-form-container.fm-theme1 .fm-form .country-name::placeholder,
						 .fm-form-container.fm-theme1 .fm-form select::placeholder {}.fm-form-container.fm-theme1 .fm-form .ui-slider-range {}.fm-form-container.fm-theme1 .fm-form input[type="text"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme1 .fm-form input[type="number"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme1 .fm-form input[type=password],
									.fm-form-container.fm-theme1 .fm-form input[type=url],
									.fm-form-container.fm-theme1 .fm-form input[type=email],
									.fm-form-container.fm-theme1 .fm-form textarea,
									.fm-form-container.fm-theme1 .fm-form .StripeElement,
									.fm-form-container.fm-theme1 .fm-form .ui-spinner,
									.fm-form-container.fm-theme1 .fm-form .ui-slider,
									.fm-form-container.fm-theme1 .fm-form .ui-slider-handle,
									.fm-form-container.fm-theme1 .fm-form select {border-top-style:solid !important;border-top-color:#DDDDDD !important;}.fm-form-container.fm-theme1 .fm-form .ui-slider-range {background:#DDDDDD !important;}.fm-form-container.fm-theme1 .fm-form input[type="text"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme1 .fm-form input[type="number"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme1 .fm-form input[type=password],
									.fm-form-container.fm-theme1 .fm-form input[type=url],
									.fm-form-container.fm-theme1 .fm-form input[type=email],
									.fm-form-container.fm-theme1 .fm-form textarea,
									.fm-form-container.fm-theme1 .fm-form .StripeElement,
									.fm-form-container.fm-theme1 .fm-form .ui-spinner,
									.fm-form-container.fm-theme1 .fm-form .ui-slider,
									.fm-form-container.fm-theme1 .fm-form .ui-slider-handle,
									.fm-form-container.fm-theme1 .fm-form select {border-left-style:solid !important;border-left-color:#DDDDDD !important;}.fm-form-container.fm-theme1 .fm-form .ui-spinner-button {border-left-style:solid !important;border-left-color:#DDDDDD !important;}.fm-form-container.fm-theme1 .fm-form .ui-slider-range {background:#DDDDDD !important;}.fm-form-container.fm-theme1 .fm-form input[type="text"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme1 .fm-form input[type="number"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme1 .fm-form input[type=password],
									.fm-form-container.fm-theme1 .fm-form input[type=url],
									.fm-form-container.fm-theme1 .fm-form input[type=email],
									.fm-form-container.fm-theme1 .fm-form textarea,
									.fm-form-container.fm-theme1 .fm-form .StripeElement,
									.fm-form-container.fm-theme1 .fm-form .ui-spinner,
									.fm-form-container.fm-theme1 .fm-form .ui-slider,
									.fm-form-container.fm-theme1 .fm-form .ui-slider-handle,
									.fm-form-container.fm-theme1 .fm-form select {border-right-style:solid !important;border-right-color:#DDDDDD !important;}.fm-form-container.fm-theme1 .fm-form .ui-slider-range {background:#DDDDDD !important;}.fm-form-container.fm-theme1 .fm-form input[type="text"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme1 .fm-form input[type="number"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme1 .fm-form input[type=password],
									.fm-form-container.fm-theme1 .fm-form input[type=url],
									.fm-form-container.fm-theme1 .fm-form input[type=email],
									.fm-form-container.fm-theme1 .fm-form textarea,
									.fm-form-container.fm-theme1 .fm-form .StripeElement,
									.fm-form-container.fm-theme1 .fm-form .ui-spinner,
									.fm-form-container.fm-theme1 .fm-form .ui-slider,
									.fm-form-container.fm-theme1 .fm-form .ui-slider-handle,
									.fm-form-container.fm-theme1 .fm-form select {border-bottom-style:solid !important;border-bottom-color:#DDDDDD !important;}.fm-form-container.fm-theme1 .fm-form .ui-slider-range {background:#DDDDDD !important;}.fm-form-container.fm-theme1 .fm-form select {}.rtl  .fm-form-container.fm-theme1 .fm-form select {}.fm-form-container.fm-theme1 .fm-form .radio-div label span {box-shadow:1px 1px 5px #ccc;}.fm-form-container.fm-theme1 .fm-form .radio-div input[type="radio"]:checked + label span:after {background-color:#f1b75e;}.fm-form-container.fm-theme1 .fm-form .checkbox-div label span {}.fm-form-container.fm-theme1 .fm-form .checkbox-div input[type="checkbox"]:checked + label span:after {}.fm-form-container.fm-theme1 .button-submit,
						  .fm-form-container.fm-theme1 .button-reset {}.fm-form-container.fm-theme1 .fm-form .button-submit {margin:1rem 0 0 0 !important;max-width:100%}.fm-form-container.fm-theme1 .fm-form .button-submit .fm-submit-loading.spinner{}.fm-form-container.fm-theme1 .fm-form .button-submit .fm-submit-loading.spinner:before{}.fm-form-container.fm-theme1 .fm-form .button-submit:hover {}.fm-form-container.fm-theme1 .fm-form .button-reset,
		.fm-form-container.fm-theme1 .fm-form button { margin:1rem 0 0 0 !important;font-size:24px !important;}.fm-form-container.fm-theme1 .fm-form .button-reset:hover,
							.fm-form-container.fm-theme1 .fm-form button:hover {}.fm-form-container.fm-theme1 .fm-form .next-page div.wdform-page-button {font-size:24px !important;}.fm-form-container.fm-theme1 .fm-form .next-page div.wdform-page-button:hover {}.fm-form-container.fm-theme1 .fm-minimize-text div {}.fm-form-container.fm-theme1 .fm-form .previous-page div.wdform-page-button {font-size:24px !important;}.fm-form-container.fm-theme1 .fm-form .previous-page div.wdform-page-button:hover {}.fm-form-container.fm-theme1 .fm-form input[type="radio"] {}
						.fm-form-container.fm-theme1 .fm-form input[type="checkbox"] {}.fm-form-container.fm-theme1 .fm-form .wdform-page-and-images .fm-type_radio label {
font-size: 14px;
    display: block;
    flex-wrap: wrap;
    gap: 2px;
}
.fm-form-container.fm-theme1 .fm-form .wdform-page-and-images .fm-type_radio label a{
color:#ECA55A;
text-decoration:underline;
}
.ds-popup-content {
overflow:hidden;
}
.container .fm-form-container.fm-theme1,
.fm-form .fm-header-bg, 
.fm-form .wdform-field:not([type=type_hidden]) {
padding: 0 !important;
}
.elementor-widget-fm-elementor .fm-form-container.fm-theme1 {
padding-top: unset;
padding-bottom: unset;
}
.fm-form .wdform_column {
gap: 1rem;
}
.fm-form .wdform_section {
display: flex !important;
gap: 1rem;
}
.fm-form-container.fm-theme1 .fm-form .button-submit {
font-weight: 600 !important;
padding: 6px 25px 6px 25px !important;
}
html[lang="in-kn"]  .fm-form-container.fm-theme1 .fm-form .button-submit {
padding: 10px 25px 0px 25px !important;
}
.fm-header-bg .fm-header {
width:100%;
}.fm-form-container.fm-theme1 .fm-form .fm-form-container.fm-theme1 .fm-form .wdform-page-and-images .fm-type_radio label {
font-size: 14px;
    display: block;
    flex-wrap: wrap;
    gap: 2px;
}.fm-form-container.fm-theme1 .fm-form 
.fm-form-container.fm-theme1 .fm-form .wdform-page-and-images .fm-type_radio label a{
color:#ECA55A;
text-decoration:underline;
}.fm-form-container.fm-theme1 .fm-form 
.ds-popup-content {
overflow:hidden;
}.fm-form-container.fm-theme1 .fm-form 
.container .fm-form-container.fm-theme1, .fm-form-container.fm-theme1 .fm-form
.fm-form .fm-header-bg, .fm-form-container.fm-theme1 .fm-form 
.fm-form .wdform-field:not([type=type_hidden]) {
padding: 0 !important;
}.fm-form-container.fm-theme1 .fm-form 
.elementor-widget-fm-elementor .fm-form-container.fm-theme1 {
padding-top: unset;
padding-bottom: unset;
}.fm-form-container.fm-theme1 .fm-form 
.fm-form .wdform_column {
gap: 1rem;
}.fm-form-container.fm-theme1 .fm-form 
.fm-form .wdform_section {
display: flex !important;
gap: 1rem;
}.fm-form-container.fm-theme1 .fm-form 
.fm-form-container.fm-theme1 .fm-form .button-submit {
font-weight: 600 !important;
padding: 6px 25px 6px 25px !important;
}.fm-form-container.fm-theme1 .fm-form 
html[lang="in-kn"]  .fm-form-container.fm-theme1 .fm-form .button-submit {
padding: 10px 25px 0px 25px !important;
}.fm-form-container.fm-theme1 .fm-form 
.fm-header-bg .fm-header {
width:100%;
}.fm-form-container.fm-theme1 .fm-form 